@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/MaterialIcons-Regular.eot"); /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"),
    url("./fonts/MaterialIcons-Regular.eot?#iefix") format("embedded-opentype")
      /* For IE6-8 */,
    url("./fonts/MaterialIcons-Regular.woff2") format("woff2"),
    url("./fonts/MaterialIcons-Regular.woff") format("woff"),
    url("./fonts/MaterialIcons-Regular.ttf") format("truetype"),
    url("./fonts/MaterialIcons-Regular.svg#MaterialIcons-Regular") format("svg");
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f5f5f5;
  color: rgb(32, 32, 32);
  font-size: 13px;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  height: 50px;
  width: 100%;
  padding: 18px 36px;

  background-color: rgb(219, 76, 63);
}

#header button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#header span {
  color: white;
  font-size: 36px;
}

.header-left {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
}

#content {
  display: flex;
  flex: 1;
}

#sidebar {
  background-color: lightgray;
  padding: 16px 8px;
  width: 300px;
}

#sidebar-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#sidebar-list > li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 8px;
  gap: 8px;
  font-size: 16px;
  cursor: pointer;
}

#sidebar-list > li:hover {
  background-color: rgb(219, 76, 63);
  color: white;
}

#sidebar-list > .category-header {
  font-size: 24px;
  font-weight: 700;
  cursor: default;
}
#sidebar-list > .category-header:hover {
  background-color: transparent;
  color: black;
}

#sidebar-list > .add-category {
  font-size: 16px;
  font-weight: 700;
  font-style: italic;
  color: green;
}

#sidebar-list > .add-category:hover {
  background-color: transparent;
  color: green;

  text-shadow: 0px 0px 1px green;
}

#main {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 16px 32px;
  gap: 16px;
}

#main > .todo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  padding: 8px;
  gap: 8px;
  border: gray solid 1px;
  border-radius: 4px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

#main .todo-title {
  font-size: 16px;
  font-weight: 700;
  justify-self: start;
}

#main .todo-category {
  font-size: 14px;
  font-style: italic;
}

#main .todo-circle {
  cursor: pointer;
}

#main .todo-circle:hover {
  transform: scale(1.1);
}

#main .low {
  color: green;
}

#main .medium {
  color: orange;
}

#main .high {
  color: red;
}

#modal {
  display: none;
  width: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: gray solid 1px;
  border-radius: 16px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

#modal.active {
  display: block;
}

#modal #cancel-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
  position: absolute;
  color: red;
  top: 8px;
  right: 8px;
}

#modal #modal-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  padding: 32px 8px 16px;
  border-bottom: gray solid 1px;
  gap: 8px;
}

#modal label {
  display: flex;
  flex-direction: column;
  width: 90%;
  font-size: 14px;
  font-weight: 700;
  gap: 7px;
}

#modal input,
select {
  width: 100%;
  padding: 8px;
  border: gray solid 1px;
  border-radius: 4px;
  font-size: 14px;
}

#modal button {
  background-color: green;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}
